<md-content layout="row" layout-align="space-around" layout-padding="layout-padding" 
 ng-cloak="ng-cloak" class="login-form">
	<md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
		<md-toolbar>
			<div class="md-toolbar-tools" layout-align="center center">
				<h2><span>Login</span></h2>
		  	</div>
		</md-toolbar>		
		<form name="formLogin" role="form" ng-submit="auth(login)">
			<md-card-content>			  
				<md-input-container class="md-block">
					<label>E-mail</label>
				  	<md-icon>person</md-icon>
				  	<input type="email" name="email" ng-model="login.username" required=""/>
				  	<div ng-messages="formLogin.email.$error" role="alert" ng-show="formLogin.email.$invalid">
						<div ng-message="required" class="my-message">Informe seu e-mail.</div>
						<div ng-message="email" class="my-message">E-mail inválido.</div>
				  	</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Senha</label>
				  	<md-icon>https</md-icon>
				  	<input type="password" name="password" ng-model="login.password" required=""/>
				  	<div ng-messages="formLogin.password.$error" 
				  	 role="alert" ng-show="formLogin.password.$invalid">
						<div ng-message="required" class="my-message">Informe sua senha.</div>
				  	</div>
				</md-input-container>								 
			</md-card-content>					   
			<md-card-content layout="column">
				<md-button class="md-raised md-primary" flex ng-disabled="!formLogin.$valid" 
				 class="btn btn-lg btn-primary btn-block" type="submit">Entrar</md-button>
				<div layout="row" layout-xs="column" flex="70" layout-align="center center">
					<md-button ng-click="openDialog($event)" class="md-primary" 
					 flex="35">Cadastre-se</md-button>
					<md-button ng-click="" class="md-primary" 
					 flex="35">Minha senha</md-button>
				</div>
			</md-card-content>		
		</form>
	</md-card>
</md-content>