<div layout="column" flex layout-fill ng-cloak ng-if="user">
	<md-content style="height: 90vh;">
		<section class="back-fff">		
			<md-tabs md-dynamic-height>							
				<md-tab label="Cupons" md-on-select="setSelectedIndex(0)">
					<md-content class="md-padding">
						<cupom></cupom>
					</md-content>
				</md-tab>
				<md-tab label="Anúncios" md-on-select="setSelectedIndex(1)">
					<md-content class="md-padding">
						<anuncio></anuncio>
					</md-content>
				</md-tab>				
				<md-tab label="Categorias" md-on-select="setSelectedIndex(2)" ng-if="userAdmin">
					<md-content class="md-padding">
						<categoria></categoria>
					</md-content>
				</md-tab>
				<md-tab label="Usuários" md-on-select="setSelectedIndex(3)" ng-if="userAdmin">
					<md-content class="md-padding">
						<usuario></usuario>
					</md-content>
				</md-tab>
				<md-tab label="Cadastro" md-on-select="setSelectedIndex(4)" 
				 ng-if="user && !userAdmin">
					<md-content class="md-padding">
						<meucadastro></meucadastro>
					</md-content>
				</md-tab>
			</md-tabs>
			<md-button ng-if="selectedIndex == 1 || selectedIndex == 2" 
			 style="position: fixed;bottom: 10px;right: 10px;" 
			 class="md-fab md-primary" aria-label="Adicionar novo" 
			 ng-click="openDialog($event, selectedIndex )">
				<md-icon>add</md-icon>
			</md-button>
		</section>		
	</md-content>
</div>