<!DOCTYPE HTML>
<html ng-app="app">
	<head>
		<title>Cupom de desconto</title>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">

		<link rel="icon" type="image/png" href=""/>
		<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
		<link rel="stylesheet" href="bower_components/angular-jk-rating-stars/dist/jk-rating-stars.min.css"/>
		<link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.min.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-animate/angular-animate.min.js"></script>
		<script src="bower_components/angular-aria/angular-aria.min.js"></script>
		<script src="bower_components/angular-route/angular-route.min.js"></script>
		<script src="bower_components/angular-messages/angular-messages.min.js"></script>
		<script src="bower_components/angular-material/angular-material.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
		<script src="bower_components/angular-locale-pt-br/angular-locale_pt-br.js"></script>
		<script src="bower_components/angular-avatar/dist/angular-avatar.js"></script>		
		<script src="bower_components/moment/moment.js"></script>
		<script src="bower_components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
		<script src="bower_components/angular-jk-rating-stars/dist/jk-rating-stars.min.js"></script>
		<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
		
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" 
		 integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<script>$.noConflict();</script>

		<script src="js/app.js"></script>		
		<script src="js/config/config.js"></script>		

		<!-- Controllers -->		
		<script src="js/controllers/controllers.js"></script>
		<script src="js/controllers/mainController/mainController.js"></script>
		<script src="js/controllers/perfilController/perfilController.js"></script>
		<script src="js/controllers/homeController/homeController.js"></script>
		<script src="js/controllers/contatoController/contatoController.js"></script>
		<script src="js/controllers/loginController/loginController.js"></script>
		<script src="js/controllers/categoriaController/categoriaController.js"></script>
		<script src="js/controllers/categoriaController/categoriaDialogController.js"></script>		
		<script src="js/controllers/cupomController/cupomController.js"></script>
		<script src="js/controllers/cupomController/cupomDialogController.js"></script>
		<script src="js/controllers/cupomController/cupomDialogListController.js"></script>
		<script src="js/controllers/anuncioController/anuncioController.js"></script>
		<script src="js/controllers/anuncioController/anuncioDialogController.js"></script>
		<script src="js/controllers/usuarioController/usuarioController.js"></script>
		<script src="js/controllers/usuarioController/usuarioDialogController.js"></script>		
		<script src="js/controllers/meuCadastroController/meuCadastroController.js"></script>		
		<script src="js/controllers/usuarioController/novoUsuarioDialogController.js"></script>		
		<script src="js/controllers/vermaisController/vermaisDialogController.js"></script>
		<script src="js/controllers/avaliacaoController/avaliacaoDialogController.js"></script>

		<!-- Services -->
		<script src="js/services/services.js"></script>
		<script src="js/services/httpService/httpService.js"></script>
		<script src="js/services/loginService/loginService.js"></script>
		<script src="js/services/modalService/modalService.js"></script>

		<!-- Factories -->
		<script src="js/factories/factories.js"></script>

		<!-- Components -->		
		<script src="js/components/components.js"></script>
		<script src="js/components/cuponsComponent/cuponsComponent.js"></script>
		<script src="js/components/categoriasComponent/categoriasComponent.js"></script>
		<script src="js/components/anunciosComponent/anunciosComponent.js"></script>
		<script src="js/components/usuariosComponent/usuariosComponent.js"></script>		
		<script src="js/components/meuCadastroComponent/meuCadastroComponent.js"></script>

		<!-- Directives -->
		<script src="js/directives/directives.js"></script>	
		<script src="js/directives/mapa/mapa.min.js"></script>

	</head>
	<body ng-controller="MainController">
		<md-sidenav class="md-sidenav-left md-whiteframe-z2" role="sidenav" md-component-id="left">
			<md-toolbar class="md-tall md-hue-2" layout-align="end end">
				<div class="md-toolbar-tools" layout="row" layout-padding>
					<div ng-if="user.username">
						<img ng-src="/img/60.png" class="md-avatar" alt="" />
					</div>
					<div style="cursor: pointer;" layout="column">
						<span class="md-title" ng-if="!user.username" 
						 ng-click="gotoSelection('login')">Olá, Visitante</span>
						<span class="md-subhead" ng-if="!user.username"
						 ng-click="gotoSelection('login')">Entre ou Cadastre-se</span>
						<span class="md-title" ng-bind="user.name" 
						 ng-click="gotoSelection('perfil')"></span>
						<span class="md-subhead" ng-bind="user.username.substring(0,25)" 
						 ng-click="gotoSelection('perfil')"></span>
					</div>					
				</div>
			</md-toolbar>
			
			<md-list-item ng-click="gotoSelection('home')">
				<md-icon>home</md-icon>
				<p class="md-body-2">Início</p>
				<span flex></span>
				<md-icon>chevron_right</md-icon>
			</md-list-item>

			<md-list-item ng-click="gotoSelection('perfil')" ng-if="user.username">
				<md-icon>person</md-icon>
				<p class="md-body-2">Minha Conta</p>
				<span flex></span>
				<md-icon>chevron_right</md-icon>
			</md-list-item>

			<md-list-item ng-click="gotoSelection('contato')">
				<md-icon>email</md-icon>
				<p class="md-body-2">Fale Conosco</p>
				<span flex></span>
				<md-icon>chevron_right</md-icon>
			</md-list-item>

			<md-list-item ng-click="logout()" ng-if="user.username">
				<md-icon>backspace</md-icon>				
				<p class="md-body-2">Sair</p>
				<span flex></span>
				<md-icon>chevron_right</md-icon>
			</md-list-item>
		
		</md-sidenav>
		<section layout="column" role="main" flex>
			<md-toolbar md-scroll-shrink role="toolbar">
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" ng-click="toggleSidenav('left')" aria-label="Menu">
						<md-icon>menu</md-icon>
						<md-tooltip>Abrir menu</md-tooltip>
					</md-button> 
					<h4 hide-xs class="md-title" ng-bind="titulo"></h4>
					<span flex></span>
				</div>
			</md-toolbar>
			<section id="content" role="content" layout="column" md-scroll-y>
				<md-content class="mainContent" ng-cloak>
					<ng-view></ng-view>
				</md-content>
			</section>
		</section>
	</body>
</html>