<div layout="row" layout-sm="column" layout-align="space-around" ng-if="loading">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<md-dialog aria-label="Cupons do anúncio">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Cupons do anúncio</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon aria-label="Fechar janela">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div layout="column" flex layout-fill ng-cloak ng-if="!loading">
			<md-content >
				<section class="back-fff">
					<div class="md-dialog-content">
						<div class="md-dialog-content">
							<div class="pesquisaList">
								<md-input-container class="md-block" flex>
									<label>Pesquisar cupons de usuários</label>
									<input ng-model="criterioDeBusca"/>
								</md-input-container>
							</div>
							<md-list>
								<md-list-item class="md-3-line"
								 ng-repeat="cupom in cupons | filter:criterioDeBusca | orderBy: 'id':true"
								 ng-click="openDialog($event, cupom)">
									<ng-avatar initials="{{cupom.usuario.username}}" max-length="1"
									 auto-color="true" round-shape="true" upper-case="true" 
									 class="avatarCadastro"></ng-avatar>
									<div class="md-list-item-text">
										<h3 ng-bind="cupom.usuario.name.substring(0,{{substring}})"></h3>
										<p ng-bind="cupom.usuario.username.substring(0,{{substring}})"></p>
										<p>Data: {{cupom.data | date: 'dd/MM/yyyy'}}</p>
									</div>
									<md-button ng-click="finalizarCupom($event, cupom)" ng-if="!cupom.baixado"
								     class="md-icon-button">
								        <md-icon>save</md-icon>
								        <md-tooltip>Finalizar cupom.</md-tooltip>
								    </md-button>
								    <md-button class="md-icon-button" ng-if="cupom.baixado">
								        <md-icon>check</md-icon>
								        <md-tooltip>Cupom finalizado.</md-tooltip>
								    </md-button>
								    <md-divider md-inset hide-sm></md-divider>
								</md-list-item>
							</md-list>
						</div>
					</div>
				</section>
			</md-content>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">			
		<md-button ng-click="cancel()">Cancelar</md-button>
	</md-dialog-actions>
</md-dialog>