<md-dialog aria-label="Cadastro de usuários">
	<form ng-cloak name="formCadastro">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Cadastro de usuários</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon aria-label="Fechar janela">close</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
			    <md-input-container class="md-block" flex-gt-sm>
					<label>Nome</label>
					<input required name="nome" ng-model="usuario.name" md-maxlength="80"/>
					<div ng-messages="formCadastro.nome.$error">
						<div ng-message="required">O nome é obrigatório.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>E-mail</label>
					<input required type="email" name="email" ng-model="usuario.username" 
					 md-maxlength="80"/>
					<div ng-messages="formCadastro.email.$error">
						<div ng-message="required">O e-mail é obrigatório.</div>
						<div ng-message="email" >O e-mail é inválido.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Telefone</label>
					<input type="text" name="telefone" ng-model="usuario.telefone" ui-br-phone-number/>
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Senha</label>
					<input required type="password" name="senha" ng-model="senha" md-maxlength="80"/>
					<div ng-messages="formCadastro.senha.$error">
						<div ng-message="required">A senha é obrigatória.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Repita a Senha</label>
					<input required type="password" name="novaSenha" ng-model="novaSenha" md-maxlength="80"/>
					<span id="senhas" ng-if="senha != novaSenha">As senhas não conferem.</span>
				</md-input-container>		
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">			
			<md-button 
			 ng-disabled="(formCadastro.$invalid) || (senha!=novaSenha) || (!senha) || (!novaSenha)"
			 ng-click="save(usuario, senha)">Salvar</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>