<div layout="row" layout-sm="column" layout-align="space-around" ng-if="loading">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div layout="column" flex layout-fill ng-cloak ng-if="!loading">
	<md-content style="height: 78vh;">
		<section class="back-fff">
			<md-card>
				<md-card-header class="pesquisa">
					<md-input-container class="md-block" id="pesquisa" flex>
						<label><md-icon>search</md-icon> Pesquisar anúncios</label>
						<input ng-model="criterioDeBusca" />
					</md-input-container>
				</md-card-header>
				<md-card-content class="content">				
					<md-list>
						<md-list-item class="md-3-line" 
						 ng-repeat="anuncio in anuncios | filter:criterioDeBusca | orderBy: 'id':true" 
						 ng-click="openDialog($event, anuncio)">
							<ng-avatar initials="{{anuncio.descricao}}" max-length="1"
							 auto-color="true" round-shape="true" upper-case="true" 
							 class="avatarCadastro"></ng-avatar>
							<div class="md-list-item-text">						
								<h3 ng-bind="anuncio.descricao.substring(0,{{substring}})"></h3>
								<p>Válido até {{anuncio.dataFinal | date: 'dd/MM/yyyy'}}</p>
								<p>Status: {{isAtivo(anuncio)}}</p>
							</div>	
							<md-button class="md-icon-button" ng-if="!anuncio.aprovado">
						        <md-icon>warning</md-icon>
						        <md-tooltip>Aguardando aprovação.</md-tooltip>
						    </md-button>
						    <md-button ng-click="openDialogList($event, anuncio)" 
						     class="md-icon-button" ng-if="anuncio.aprovado">
						        <md-icon>visibility</md-icon>
						        <md-tooltip>Ver cupons.</md-tooltip>
						    </md-button>
						    <md-divider md-inset hide-sm></md-divider>
						</md-list-item>
					</md-list>
				</md-card-content>
			</md-card>
		</section>
	</md-content>
</div>