<form ng-cloak name="formCadastro">
	<md-subheader class="md-primary">Meu cadastro</md-subheader>
	<div class="md-dialog-content" id="formMeuCadastro">
	    <md-input-container class="md-block" flex-gt-sm>
			<label>Nome</label>
			<input required name="nome" ng-model="usuario.name" md-maxlength="80"/>
			<div ng-messages="formCadastro.nome.$error">
				<div ng-message="required">O nome é obrigatório.</div>
			</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label>E-mail</label>
			<input required type="email" name="email" ng-model="usuario.username" 
			 disabled md-maxlength="80"/>
			<div ng-messages="formCadastro.email.$error">
				<div ng-message="required">O e-mail é obrigatório.</div>
				<div ng-message="email" >O e-mail é inválido.</div>
			</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label>Telefone</label>
			<input type="text" name="telefone" ng-model="usuario.telefone" ui-br-phone-number/>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label>Nova Senha</label>
			<input type="password" name="senha" ng-model="senha" md-maxlength="80"/>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label>Repita a Senha</label>
			<input type="password" name="novaSenha" ng-model="novaSenha" md-maxlength="80"/>
			<span id="senhas" ng-if="senha != novaSenha">As senhas não conferem.</span>
		</md-input-container>
		<div>
			<md-button style="float: right;"
			 ng-disabled="(formCadastro.$invalid) || ((senha)&&(senha!=novaSenha)) || 
			 ((novaSenha)&&(senha!=novaSenha))" ng-click="save(usuario, senha)">Salvar</md-button>	
		</div> 
	</div>
</form>