<div layout="row" layout-sm="column" layout-align="space-around" ng-if="loading">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div layout="column" flex layout-fill ng-cloak ng-if="!loading">
	<md-content style="height: 78vh;">
		<section class="back-fff">
			<md-card>
				<md-card-header class="pesquisa">
					<md-input-container class="md-block" id="pesquisa" flex>
						<label>Pesquisar usuários</label>
						<input ng-model="criterioDeBusca" />
					</md-input-container>
				</md-card-header>
				<md-card-content class="content">				
					<md-list>
						<md-list-item class="md-2-line" 
						 ng-repeat="usuario in usuarios | filter:criterioDeBusca | orderBy: 'name'" 
						 ng-click="openDialog($event, usuario)">
							<ng-avatar initials="{{usuario.name.substring(0,1)}}" 
							 auto-color="true" round-shape="true" upper-case="true" 
							 class="avatarCadastro"></ng-avatar>       		
							<div class="md-list-item-text">						
								<h3>{{usuario.name}}</h3>	
								<p>{{usuario.username}}</p>
							</div>
						</md-list-item>
					</md-list>
				</md-card-content>
			</md-card>
		</section>
	</md-content>
</div>